@font-face {
    font-family: '../fonts/TCCC-UnityText';
    src: url('../fonts/TCCC-UnityText-Bold.eot');
    src: url('../fonts/TCCC-UnityText-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TCCC-UnityText-Bold.woff2') format('woff2'),
        url('../fonts/TCCC-UnityText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '../fonts/TCCC-UnityText';
    src: url('../fonts/TCCC-UnityText-Medium.eot');
    src: url('../fonts/TCCC-UnityText-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TCCC-UnityText-Medium.woff2') format('woff2'),
        url('../fonts/TCCC-UnityText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '../fonts/TCCC-UnityText';
    src: url('../fonts/TCCC-UnityText-Regular.eot');
    src: url('../fonts/TCCC-UnityText-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TCCC-UnityText-Regular.woff2') format('woff2'),
        url('../fonts/TCCC-UnityText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '../fonts/TCCC-UnityText';
    src: url('../fonts/TCCC-UnityText-Light.eot');
    src: url('../fonts/TCCC-UnityText-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TCCC-UnityText-Light.woff2') format('woff2'),
        url('../fonts/TCCC-UnityText-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}